In [1]:
print("hello")

hello

In [2]:
def swa():
    print("swan")
swa()

swan

In [3]:
def Addition():
    a=37
    b=74
    print(a+b)
Addition()

111

In [4]:
def userinput():
    s=int(input("enter the first element "))
    k=int(input("enter the second element "))
    l=s+k
    print(l)
userinput()

enter the first element 10
enter the second element 20
30

In [5]:
a=10.0
print(a)
print(type(a))

10.0
<class 'float'>

In [6]:
s = 5
print(s>3 and s<10)

True

In [7]:
o=24
print(o>22 or o<23)

True

In [8]:
def userinput():
    s=int(input("enter the first element "))
    k=int(input("enter the second element "))
    print(s>k or s<k)
userinput()

enter the first element 10
enter the second element 20
True

In [9]:
def userinput():
    s=int(input("enter the first element "))
    k=int(input("enter the second element "))
    print(s>5 or k<27)
userinput()

enter the first element 10
enter the second element 12
True

In [18]:
str2="swanand"
print(str2)

swanand

In [19]:
str2[0:3]

'swa'

In [20]:
str2[2]

'a'

In [22]:
swa2="swarali"
print(swa2)

swarali

In [23]:
swa2[0:3]

'swa'

In [30]:
a="    I am going Goa    "
print(a)

    I am going Goa

In [25]:
a.lower()

'i am going goa'

In [26]:
a.upper()

'I AM GOING GOA'

In [27]:
a.title()

'I Am Going Goa'

In [31]:
a.lstrip()

'I am going Goa    '

In [32]:
a.rstrip()

'    I am going Goa'

In [33]:
a.strip()

'I am going Goa'

In [34]:
color=["green","red","blue"]
color.append("pink")
print(color)

['green', 'red', 'blue', 'pink']

In [36]:
color=["green","red","blue"]
cars=["BMW","Volvo", "Ford"]
color.extend(cars)
print(color)

['green', 'red', 'blue', 'BMW', 'Volvo', 'Ford']

In [38]:
color=["green","red","blue"]
color.insert(1,"pink")
print(color)

['green', 'pink', 'red', 'blue']

In [43]:
color=["green","red","blue"]
color.pop(0)
print(color)

['red', 'blue']

In [44]:
color=["green","red","blue"]
color.remove("red")
print(color)

['green', 'blue']

In [45]:
color=["green","red","blue"]
color.sort()
print(color)

['blue', 'green', 'red']

In [51]:
a.split()

['I', 'am', 'going', 'Goa']

In [78]:
Family=[1,2,3,4,5,6,7,8]
print(Family)

[1, 2, 3, 4, 5, 6, 7, 8]

In [79]:
Family.pop(0)
Family.pop(1)
Family.pop(2)
Family.pop(3)
print(Family)

[2, 4, 6, 8]

In [80]:
Family.append("1")
Family.append("3")
Family.append("5")
Family.append("7")
Family.append("9")
Family.append("10")
Family.append("11")
print(Family)

[2, 4, 6, 8, '1', '3', '5', '7', '9', '10', '11']

In [84]:
t=(1,"Swanand",2,"swarali",3,"pranav",4,"pritam")
print(t)
t2=(5,"rohit",6,"sarthak")
print(t2)
print(t+t2)

(1, 'Swanand', 2, 'swarali', 3, 'pranav', 4, 'pritam')
(5, 'rohit', 6, 'sarthak')
(1, 'Swanand', 2, 'swarali', 3, 'pranav', 4, 'pritam', 5, 'rohit', 6, 'sarthak')

In [91]:
num=(1,2,3,5,3,6)
a=num.count(3)
print(a)

2

In [93]:
print(num.index(6))

5

In [109]:
cars={
    "brand": "BMW",
    "model": "M5",
    "year": "2022"
}

print(cars)
print(type(cars))

print(cars.keys())

print(cars.values())

cars.items()

cars.update({"model":"M6"})
print(cars)

cars["color"]="Red"
print(cars)

cars.pop("year")
cars

{'brand': 'BMW', 'model': 'M5', 'year': '2022'}
<class 'dict'>
dict_keys(['brand', 'model', 'year'])
dict_values(['BMW', 'M5', '2022'])
{'brand': 'BMW', 'model': 'M6', 'year': '2022'}
{'brand': 'BMW', 'model': 'M6', 'year': '2022', 'color': 'Red'}

{'brand': 'BMW', 'model': 'M6', 'color': 'Red'}

In [110]:
sub={"marathi","hindi","english","maths","marathi"}
print(sub)
print(type(sub))

{'marathi', 'english', 'maths', 'hindi'}
<class 'set'>

In [121]:
emp1={
    "name":"swanad",
    "salary":25000,
}
print(emp1)
emp1.update({"salary":500000})
print(emp1)

emp2={
    "name":"swarali",
    "salary":26000
}
print(emp2)
emp2.update({"salary":20000})
print(emp2)

{'name': 'swanad', 'salary': 25000}
{'name': 'swanad', 'salary': 500000}
{'name': 'swarali', 'salary': 26000}
{'name': 'swarali', 'salary': 20000}

In [129]:
name=[item for item in input("enter the name:").split()]
print(name)
name2=[]
def s():
        for i in name:
            if i not in name2:
                name2.append(i)
            else:
                print(i,end='')
s()

enter the name:swanand swarali swanand
['swanand', 'swarali', 'swanand']
swanand